html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

main {
  background: #dfeff0;
  display: grid;
  padding: 2rem 0;
}

.route_view {
  display: grid;
  max-width: 1300px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px grey;
  justify-self: center;
  padding: 1rem;
}

#form_text {
  display: grid;
  text-align: center;
  place-content: center;
  margin-bottom: 1rem;
}

.form_grid {
  display: grid;
  margin-top: 2rem;
  justify-self: center;
  max-width: 90%;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "a b"
    "c c"
    "d d"
    "e e"
    "f f"
    "g g"
    "h h"
    "i i"
    "j j"
    "k k"
    "l l"
    "m m";
  .input {
    display: grid;
    width: 100%;
    gap: 5px;
    .input_info {
      font-size: 0.8rem;
      font-weight: bold;
    }
    &:nth-child(1) {
      grid-area: a;
    }
    &:nth-child(2) {
      grid-area: b;
    }
    &:nth-child(3) {
      grid-area: c;
    }
    &:nth-child(4) {
      grid-area: d;
    }
    &:nth-child(5) {
      grid-area: e;
    }
    &:nth-child(6) {
      grid-area: f;
    }
    &:nth-child(7) {
      grid-area: g;
    }
    &:nth-child(8) {
      grid-area: h;
    }
    &:nth-child(9) {
      grid-area: i;
    }
    &:nth-child(10) {
      grid-area: j;
    }
    &:nth-child(11) {
      grid-area: k;
    }
    &:nth-child(12) {
      grid-area: l;
    }
    &:nth-child(13) {
      grid-area: m;
    }
  }
  padding-bottom: 3rem;
}

.group {
  gap: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  .group_title {
    font-weight: bold;
  }
  .title {
    margin-bottom: -0.5rem;
  }
  background: oklab(-5% 0 0 / 0.05);
  padding: 0.5rem;
}
.group_items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.inline {
  display: flex;
  align-items: center;
}
#after_grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toggle_btns {
  display: flex;
  gap: 1rem;
  .btn {
    width: 100px;
  }
}

.after_checkbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #0000ee;
}

.btn {
  all: unset;
  background: #22853b;
  border-radius: 5px;
  padding: 10px 5px;
  text-align: center;
  color: white;
}

.btn_one {
  opacity: 0.5;
}

input,
select {
  border: none;
  outline: none;
  background: #dfeff0;
  height: 40px;
  font-size: 0.9rem;
  border-radius: 10px;
  &:where(input[type="checkbox"]) {
    align-self: start;
    justify-self: start;
    aspect-ratio: 1/1;
    height: 20px;
  }
}
